
.black {
	width:33%;
	height:400px;
	background-color: black;
	display: inline-block;
	
}

.red {
	width:33%;
	height:400px;
	background-color: red;
	display: inline-block;
	}

.blue {
	width:33%;
	height:400px;
	background-color: blue;
	display: inline-block;
}

.getty {
	width: 100%;
	height: 325px;
	font-size: 36px;
	text-align: left;
	padding-top: 30px;
}

.blue2 {
	width:66%;
	height:400px;
	background-color: blue;
	display: inline-block;
	float: left;
	margin-bottom: 30px;
}

.red2 {
	width:34%;
	height:400px;
	background-color: red;
	display: inline-block;
	float: left;
	margin-bottom: 30px;
	}


.gray {
	width:50%;
	height:150px;
	background-color: gray;
	display: inline-block;
	float: left;
	}

.blue3 {
	
	width:19%;
	height:150px;
	background-color: blue;
	display: inline-block;
	float: left;
}

.red3 {
	width:12%;
	height:150px;
	background-color: red;
	display: inline-block;
	float: left;
	}

.blue4 {
	
	width:19%;
	height:150px;
	background-color: blue;
	display: inline-block;
	float: left;
}